*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}

/* style pour l'entete */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 6px 6px 15px rgba(0,0,0,0.1);
}
.logo{
    height: 70px;
    object-fit: contain;
}

.header-menu{
    display: flex;
    gap: 36px;
    list-style: none;
}
.header-menu li a {
    text-decoration: none;
    color: black;
}

.header-menu li a:hover{
    color:white;
    background-color: rgb(3, 3, 113);
    padding: 8px 12px;
    border-radius: 6px;;
} 


/* style pour le premier section */

.section-infos h1{
    padding: 50px;
    padding-bottom: 5px;
    text-align: center;
    color: rgb(3, 3, 113);
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.section-infos p{
    padding: 14px 18px;
    margin: 10px;
    text-align: justify;
    line-height: 1.5;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.apd5{
    margin: auto;
    width: 100%;
    height:800px;
    object-fit: cover;
}



/* style pour la deuxieme section */


.section-modules{
    padding: 40px;
    background-color: rgb(242, 240, 240);
}

.section-modules h2{
    padding-bottom: 40px;
    text-align: center;
    color: rgb(3, 3, 113);
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.cards-container{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.card {
    background-color: white;
    width: 360px;
    border-radius: 8px;
    /* si on a une cartes et on met une bordure il coupe tout ce qui est apres la photo */
    overflow: hidden;
}


.card img {
    width: 100%;
    height:250px;
    /* si on augmente la hauteur de la photo et on ne veut pas que l'image fait une deformation */
    object-fit: contain;
    object-position: center center;
}

.card-text {
    padding: 24px;
}

.card-text h3 {
    color: rgb(3, 3, 113);
}



/* style pour la troisiem section */

.section-contact{
    padding: 40px;
    text-align: center;
}

.section-contact h2{
    padding-bottom: 20px;
    color: rgb(3, 3, 113);
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.section-contact p{
    margin-bottom: 20px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.formulaire{
    padding: 16px;
    margin-bottom: 8px;
    border-radius: 8px;
    display: inline-block;
    background-color: rgb(242, 240, 240);

}

.formulaire label{
    display: block;
    text-align: left;
    padding-top: 15px;
}

.formulaire input{
    display: block;
    text-align: left;
    border: 0.5px solid blue;
    outline: none;
    width: 320px;
    padding: 10px;
    color: black;
    border-radius: 8px;
}

.formulaire textarea{
    display: block;
    text-align: left;
    border:0.5px solid blue;
    outline: none;
    width: 320px;
    padding: 20px;
    border-radius: 8px;
}

#bouton{
    display: block;
    background-color:rgb(3, 3, 113);
    width: 100%;
    padding: 16px;
    margin-top: 8px;
    border: none;
    border-radius: 8px;
    color: white;
}



/* style pour le pieds de page */
.footer{
    background-color: rgb(3, 3, 113);
    color: white;
    text-align: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}


